<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 加载db.properties文件中的内容 -->
    <!--Spring容器仅允许最多定义一个PropertyPlaceholderConfigurer(或<context:property-placeholder />)，其余的会被Spring忽略掉.-->
    <!--一次性导入多个配置文件-->
    <context:property-placeholder location="classpath:db.properties,classpath:redis.properties"/>

    <!--数据库配置文件-->
    <import resource="classpath:spring/spring-datasource.xml"/>
    <!--redis配置文件-->
    <!--<import resource="classpath:spring/spring-redis.xml"/>-->
    <!--拦截器配置文件-->
    <import resource="classpath:spring/spring-interceptor.xml"/>
    <!--mq生产者配置文件-->
    <!--<import resource="classpath:spring/spring-rabbitmq-produce.xml"/>-->
    <!--mq消费者配置文件-->
    <!--<import resource="classpath:spring/spring-rabbitmq-consumer.xml"/>-->
</beans>
